.user-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  .user-item {
    display: flex;
    align-items: center;
    margin-right: 20px;
    .user-avatar {
      width: 60px;
      height: 60px;
      border-radius: 50%;
    }
    span {
      cursor: pointer;
      &:focus {
        outline: none;
      }
    }
  }
  app-follow-button {
    margin-left: 20px;
  }
}
